- content_for :message do
  - if flash[:notice]
    %p#message{ :class => "success" }
      = flash[:notice]
  - if flash[:alert]
    %p#message{ :class => "fail" }
      = flash[:alert]
  - if flash[:error]
    %p#message{ :class => "fail" }
      = flash[:error]


- content_for :content do
  #picture
    %h2
      Ranking
    - if @new_player 
      %div#me
        = simple_form_for @new_player, :url => rankings_path do |f|
          = f.input :nick_name, :label => "Your Twitter", :hint => "@pellegrino"
          = f.submit :add
    
    %ol#rank
 
      - @ranking.each_with_index do |p, index|
        %li{ :class => p[:id] == session[:player_id] ? "me" : nil }
          %div.index
            = "#{index+1}."
          %h3
            = p[:score]
          %div.player
            = twitter_image_url(p[:twitter_image_url])
            = p[:nick_name] 


