- content_for :content do
  #picture
    %h2
      Rank
    
    %ol#rank
      %li
        %h3
          10000
        %span.player
          = link_to "@ramonpage", "http://twitter.com/ramonpage"
      %li.me
        %h3
          10000
        %span.player
          = link_to "@ramonpage", "http://twitter.com/ramonpage"
      %li
        %h3
          10000
        %span.player
          = link_to "@ramonpage", "http://twitter.com/ramonpage"
      %li
        %h3
          10000
        %span.player
          = link_to "@ramonpage", "http://twitter.com/ramonpage"
      %li
        %h3
          10000
        %span.player
          = link_to "@ramonpage", "http://twitter.com/ramonpage"
