= simple_form_for @new_quest, :url => challenges_path do |f|
  %fieldset
    = f.input :image_url, :input_html => { :maxlength => 200 }, :hint => 'Ex: http://flickr.com/image.jpg'
    = f.input :page_where_image_is, :input_html => { :maxlength => 200 }
    = f.input :correct_answer, :input_html => { :maxlength => 40 }
    = f.input :incorrect_answer1, :input_html => { :maxlength => 40 }
    = f.input :incorrect_answer2, :input_html => { :maxlength => 40 }
    = f.input :incorrect_answer3, :input_html => { :maxlength => 40 }
    = f.input :incorrect_answer4, :input_html => { :maxlength => 40 }
    = f.input :twitter_screen_name, :input_html => { :maxlength => 40 }
    = f.button :submit
