#picture
  = image_tag(quest.image_url, :alt => "Photo #{quest.id}")
  - if quest.twitter_screen_name.present?
    #author
      %span#by by
      = image_tag(quest.twitter_image_url, :alt => "@#{quest.twitter_screen_name}") if quest.twitter_image_url
      = link_to "@#{quest.twitter_screen_name}", "http://twitter.com/#{quest.twitter_screen_name}" if quest.twitter_screen_name

  %p#report-abuse
    = button_to "Report abuse" , abuses_path(quest)
