- content_for :message do
  %p#message{ :class => "success" }
    = "Your photo has been sent!"
  
- content_for :challenge do
  %ul#options
    %li
      %h3 Challenge your friends
      %a{ :href => "http://twitter.com/home?status=Where is this place? #{short_url(:short_id => @quest.short_id)}" }
        %img{ :src => "/images/icon-twitter.png", :alt => "Share on Twitter"}

      %a{ :href => "http://www.facebook.com/sharer.php?u=#{short_url(:short_id => @quest.short_id)}&t=Where is this place? #{short_url(:short_id => @quest.short_id)}" }
        %img{ :src => "/images/icon-facebook.png", :alt => "Share on Facebook"}

      %a{ :href => "http://promote.orkut.com/preview?nt=orkut.com&tt=Where is this place? #{short_url(:short_id => @quest.short_id)}&du=#{short_url(:short_id => @quest.short_id)}" }
        %img{ :src => "/images/icon-orkut.png", :alt => "Share on Orkut"}

    %li
      %h3 Keep on playin' 
      %a{ :href => "/", :id => "play" } &raquo;

- content_for :content do
  = render :partial => "pictures", :locals => { :quest => @quest }
  
  - content_for :sidebar do
    #sidebar
      %h3 Score
      #score= @score
