- content_for :message do
  - if flash[:notice]
    %p#message{ :class => "success" }
      = flash[:notice]
  - if flash[:alert]
    %p#message{ :class => "fail" }
      = flash[:alert]


  - content_for :challenge do
    - if @quest
      %ul#possible_answers
        - @quest.answers.each do |answer|
          %li= button_to(answer, :action => :move, :id => @quest.id, :answer => answer)
    - else
      = render :partial => "blank_state" 

- content_for :content do
  - if @quest
    = render :partial => "challenges/pictures", :locals => { :quest => @quest }

  %h2 Send a photo and earn 500 points
  
  = render :partial => 'form'

  - if @score
    - content_for :sidebar do
      #sidebar
        %h3 Score
        #score= @score
        
        %p#send-quest= link_to "Send a photo and earn 500 points!", "#new_quest"
