- content_for :message do
  - if @move
    %p#message{ :class => @move.correct? ? "correct" : "fail" }
      = "You are correct!" if @move.correct?
      = "You lose!" unless @move.correct?

- content_for :challenge do
  %ul#possible_answers
    - @quest.questions.each do |question|
      %li= button_to(question, :action => :move, :id => @quest.id, :answer => question)

- content_for :content do
  #picture
    = image_tag(@quest.image_url)

  = simple_form_for @quest_adapter, :url => challenges_path do |f|
    %fieldset
      = f.input :image_url
      = f.input :page_where_image_is
      = f.input :correct_answer
      = f.input :wrong_answer1
      = f.input :wrong_answer2
      = f.input :wrong_answer3
      = f.input :wrong_answer4
      = f.button :submit

  - if @move
    - content_for :sidebar do
      #sidebar
        %h3 Score
        #score= @score
        %p#message= link_to "Send a photo and earn 500 points!", "#new_quest"
