- content_for :message do
  - if flash[:notice]
    %p#message{ :class => "success" }
      = flash[:notice]
  - if flash[:alert]
    %p#message{ :class => "fail" }
      = flash[:alert]

- content_for :challenge do
  %ul#possible_answers
    - @quest.answers.each do |answer|
      %li= button_to(answer, :action => :move, :id => @quest.id, :answer => answer)

- content_for :content do
  #picture
    = image_tag(@quest.image_url)
    %br
    = image_tag(@quest.twitter_image_url) if @quest.twitter_image_url
    &nbsp;
    = link_to "@#{@quest.twitter_screen_name}", "http://twitter.com/#{@quest.twitter_screen_name}"

  %h2 Send a photo and earn 500 points
  
  = simple_form_for Quest.new, :url => challenges_path do |f|
    %fieldset
      = f.input :image_url, :input_html => { :maxlength => 200 }
      = f.input :page_where_image_is, :input_html => { :maxlength => 200 }
      = f.input :correct_answer, :input_html => { :maxlength => 40 }
      = f.input :incorrect_answer1, :input_html => { :maxlength => 40 }
      = f.input :incorrect_answer2, :input_html => { :maxlength => 40 }
      = f.input :incorrect_answer3, :input_html => { :maxlength => 40 }
      = f.input :incorrect_answer4, :input_html => { :maxlength => 40 }
      = f.input :twitter_screen_name, :input_html => { :maxlength => 40 }
      = f.button :submit

  - if @score
    - content_for :sidebar do
      #sidebar
        %h3 Score
        #score= @score
        
        %p#send-quest= link_to "Send a photo and earn 500 points!", "#new_quest"