!!!
%html
  %head
    %meta{ :charset => "utf-8" }/
    %title Where is this place? - Photoquest - The challenge
    %meta{ :name => "keywords", :content => "" }/
    %meta{ :name => "description", :content => "" }/
    = stylesheet_link_tag "reset", "photoquest", :media => "all"
    %link{ :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Vollkorn&subset=latin" }/
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" }
    = javascript_include_tag "photoquest.js"
    = csrf_meta_tag
  %body
    = yield :message
    #wrap
      #header
        %h1 Photoquest - The challenge
        #logo
          %h2
            = link_to "Where is this place?", "/"
        
        #challenge
          = yield :challenge
      %hr
      = yield :sidebar
      #content
        = yield :content
      %hr
      #footer
        %p
          &copy; 2010 Photoquest
    = render :partial => "layouts/analytics"
    #railsrumble
      %a{ :href => "http://railsrumble.com"} Rails Rumble
